


    /* Content */

/* 
header ------ 46
first_main ------ 221
second_main ------ 259
third_main ------ 312
fourth_main ------ 366
fifth_main ------ 420
sixth_main ------ 519
seventh_main ------ 590
eighth_main ------ 654
nineth_main ------ 697
footer ------ 734
responsive ------ 782
*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
p{
    margin-bottom: 0;
}

/* Header */
header{
    position: relative;
    padding-bottom: 155px;
}
  /* Nav */
#nav{
    padding: 0!important;
}
.navbar-nav{
    margin-top: 27px;
    margin-left: 178px;
    padding: 0!important;
}
.nav-link{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #090909;
    padding: 0!important;
    margin-left: 30px;
}
.nav__button{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    background: #060606;
    border-radius: 300px;
    padding: 14px 24px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 55px;
}
/* /Nav */

/* Article */
header article{
    margin-top: 112px;
    margin-left: 110px;
  
}
header article .article__text p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #595959;
    margin-bottom: 0;
}
header article .article__text h1{
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 67px;
    letter-spacing: 1.68px;
    color: #343434;
    margin-top: 12px;
    margin-bottom: 14px;
}
header article .article__text h6{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #121212;
    margin-bottom: 42px;
}
.article__btn__group button{
    border: 2px solid #8979E8;
    box-sizing: border-box;
    border-radius: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8979E8;
    padding: 1px 45px;
}
.article__btn__group button:hover{
    color: white;
    background: #8979E8;
    transition: 0.5s linear;
}
header article .card{
    width: 240px;
    height: 325px;
    position: absolute;
    top: 264px;
    z-index: -1;
    left: 660px;
    
}
header article .card .card-header{
    padding: 16px 0px 18px 30px;

}
header article .card .card-header h6{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

header article .card .card-body p{
    font-size: 10px;
    margin-bottom: 0px;
}
header article .card .card-body .row{
    padding: 15px 10px;
    border: 0.64px solid #EAEAEA;
    margin-top: 13px;
    border-radius: 5px;
}
header article .card .card-body .row .col-6{
    padding: 0;
}
header article .card .card-body .row p{
    font-size: 6px;
}
header article .card .card-body .row h6{
    font-size: 16px;
    font-weight: bold;
}
header article .card .card-body .row img{
    width: 46px;
    height: 25.5px;
}
header article .img__1{
    position: absolute;
    top: 154px;
    left: 847px;
}
header article .img__2{
    position: absolute;
    top: 57px;
    left: 1095px;
    z-index: -1;
}
header article .img__3{
    position: absolute;
    top: 436px;
    left: 1034px;
    z-index: -1;
}
/* /Article */

/* .Brands */
header .brands{
    display: flex;
    margin-top: 175px;
    margin-left: 250px;
    justify-content: space-evenly;
}
header .brands .logo{
  
}
header .brands img{
    height: 37px;
    width: 80px;
}
header .circle{
    position: absolute;
    background: #682AD5;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: 24px;
    bottom: 72px;
}
/* /.Brands*/
  /* /Header*/

/* First_Main */
.first_main{
    padding-top: 83px;
    text-align: center;
    background-color: #F3F1FC;
}
.first_main p{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #624CE0;
}
.first_main h1{
    font-size: 53px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.68px;
    color: #343434;
    color: #121212;
    font-weight: 400;
}
.first_main h3{
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #121212;
    margin-top: 10px;
    color: #121212;
    font-weight: 400;
}
.first_main img{
    margin: 0 auto;
    margin-bottom: 23px;
    margin-top: 35px;
}
/* /First_Main */

/* Second_Main */
.second_main{
    padding: 82px 73px 223px 55px;
}
.second_main .first__row p{
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #624CE0;
    font-weight: 400;
}

.second_main .first__row h3{
    font-size: 45px;
    line-height: 62px;
    letter-spacing: 1.44px;
    color: #343434;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 9px;
}
.second_main .first__row h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #121212;
}
.second_main .second__row .contents{
    margin-bottom: 42px;
}
.second_main .second__row i{
    color: #624CE0;
    font-size: 40px;
}
.second_main .second__row .fa-gem{
   font-size: 40px;
}
.second_main .second__row p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #060606;
    margin-top: 29.5px;
    margin-bottom: 24px;
}
.second_main .second__row h6{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #060606;
}
/* /Second_Main */

/* Third_Main */
.third_main .row{
    position: relative;
}
.third_main .row .first__half{
    margin-top: 174px;
    padding-left: 55px;
}
.third_main .row .first__half p{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #624CE0;
}
.third_main .row .first__half h2{
    font-weight: normal;
    font-size: 46px;
    line-height: 62px;
    letter-spacing: 1.44px;
    color: #343434;
    margin-top: 16px;
    margin-bottom: 10px;
}
.third_main .row .first__half h6{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #121212;
}
.third_main .row .first__half button{
    margin-top: 34px;
    background: #090909;
    border-radius: 300px;
    padding: 1px 45px;
    color: white;
}

.third_main .row .second__half .big__image{
    position: absolute;
    z-index: -1;
}
.third_main .row .second__half .first__image{
    position: absolute;
    right: 440px;
    top: 100px;
}
.third_main .row .second__half .second__image{
    position: absolute;
    right: 160px;
    top: 273px;
}
/* /Third_Main */

/* Fourth_Main */
.fourth_main{
    margin-top: 110px;
    position: relative;
    padding-bottom: 194px;
}
.fourth_main .row .col-lg-6 .second__logo{
    position: absolute;
    top: 158px;
    left: 135px;
    z-index: 2;
}
.fourth_main .row .col-lg-6 .third__logo{
    position: absolute;
    top: 286px;
    left: 19px;
    z-index: 1;
}
.fourth_main .row .second__part .text__part{
   margin-left: 132px;
   margin-top: 177px;
}
.fourth_main .row .second__part p{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #624CE0;
}
.fourth_main .row .second__part h2{
    font-weight: normal;
    font-size: 46px;
    line-height: 62px;
    letter-spacing: 1.44px;
    color: #343434;
    margin-top: 16px;
    margin-bottom: 10px;
}
.fourth_main .row .second__part h6{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #121212;
}
.fourth_main .row .second__part button{
    margin-top: 34px;
    background: #090909;
    border-radius: 300px;
    padding: 1px 45px;
    color: white;
}
/* /Fourth_Main */

/* Fifth_Main */

.fifth_main{
    padding-top: 76px;
    padding-bottom: 140px;
    background: #F7F3EB;
}
.fifth_main h1{
    font-weight: normal;
    font-size: 54px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.68px;
    color: #343434;
}
.fifth_main h6{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #121212;
    margin-top: 10px;
    margin-bottom: 47px;
}

.fifth_main article h5{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #090909;
    font-weight: 600;
}
.fifth_main article p{
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #343434;
    margin-top: 30px;
    margin-bottom: 9px;
}
.fifth_main article h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center; 
    color: #343434;
}
.fifth_main article .title span{
    font-size: 12px;
    color: rgb(122, 120, 120);
}

.fifth_main article .white {
    width: 848px;
    height: 340px;
    background-color: rgba(255, 255, 255, 1);
    margin: 3rem auto;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.1)
}
.fifth_main article .white .img__white{
    position: absolute;
    top: 90%;
    left: 40%;
}
.fifth_main article .title{
    position: absolute;
    top: 70px;
    text-align: center;
    line-height: 10px; ; 
    padding: 0 88px ;
}


.fifth_main article .carousel-control-prev{
    position: absolute;
    left: 120px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    border: 1px solid;
    opacity: 0.7 !important;
    transform: translateY(150px);
    color: black !important;
}
.fifth_main article .carousel-control-next{
    position: absolute;
    right: 120px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    border: 1px solid;
    opacity: 0.7 !important;
    transform: translateY(150px);
    color: black !important;
}

/* /Fifth_Main */

/* Sixth_Main */
.sixth_main{
    padding: 76px 169px 100px 169px;
}
.sixth_main h1{
    font-weight: normal;
    font-size: 52px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.68px;
    color: #343434;
}
.sixth_main h6{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #121212;
    margin-top: 10px;
    margin-bottom: 23px;
}
.sixth_main .row{
    padding: 45px;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
}
.sixth_main .row .six_main_item{
    padding: 45px;
}
.sixth_main .row h5{
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.66px;
    color: #343434;
}
.sixth_main .row h3{
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    letter-spacing: 0.72px; 
    color: #343434;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sixth_main .row h3 span{
    font-size: 12px;
    line-height: 0px;
    letter-spacing: 0.72px;
    color: #8F8F8F;
}
.sixth_main .row button{
    background: #8979E8;
    border-radius: 24px;
    padding: 1rem 6rem;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 35px;
}
.sixth_main .row h4{
    font-size: 14px;
    line-height: 22px;
    color: #060606;
    font-weight: 400;
}
.sixth_main .row .center_item{
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}
/* Sixth_Main */

/* Seventh_Main */
.seventh_main{
    padding: 76px 0 104px 0;
    background: #F6F6F6;   
}
.seventh_main h1{
    font-size: 53px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.68px;   
    color: #343434;
}
.seventh_main > p{
    font-size: 18px;
    line-height: 29px;
    text-align: center; 
    color: #121212;
    margin-top: 10px;
    margin-bottom: 43px;
}
.seventh_main .row{
    justify-content: space-around;
}
.seventh_main .row .seventh_main_item{
    background-color: #fff;
    padding: 46px 35px 27px 35px;
    margin-left: 30px;
    border-radius: 5px;
}
.seventh_main .row .seventh_main_item .i_box{
    width: 80px;
    height: 80px;
    background-color: black ;
    margin: 0 auto;
    border-radius: 50%;
    color: white;
    position: relative;
   
}
.seventh_main .row .seventh_main_item .i_box i{
    top: 23px;
    left: 23px;
    position: absolute;
    font-size: 25px;
}
.seventh_main .row .seventh_main_item h6{
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.54px; 
    color: #343434;
    margin-top: 5px;
    margin-bottom: 23px;
}
.seventh_main .row .seventh_main_item p{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #121212;
    font-weight: 500;
}
/* /Seventh_Main */

/* Eighth_Main */
.eighth_main{
    padding: 76px 70px 81px 65px;
}
.eighth_main p{
    font-size: 18px;
    line-height: 32px;
    color: #090909;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
}
.eighth_main h1{
    font-size: 54px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 1.68px;
}
.eighth_main h5{
    font-size: 18px;
    line-height: 29px;
    text-align: center; 
    color: #060606;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 57px;
}
.eighth_main h6{
    font-size: 14px;
    line-height: 22px; 
    color: #090909;
    font-weight: 400;
}
.eighth_main span{
    font-size: 14px;
    line-height: 22px;   
    color: #A2A2A2;
}



/* /Eighth_Main */

/* Nineth_Main */
.nineth_main{
    padding-top: 58px;
    padding-bottom: 97px;
    background-color: #F3F1FC;;
}
.nineth_main h1{
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 1.68px;
    color: #343434;
}
.nineth_main h6{
    font-size: 18px;
    line-height: 29px;
    margin-top: 60px;
    margin-bottom: 8px;
    color: #121212;
}
.nineth_main p{
    font-size: 13px;
    line-height: 29px;
    color: #121212;
    margin-bottom: 22px;
}
.nineth_main button{
    margin: 0 600px;
    background: #8979E8;
    border-radius: 300px;
    padding: 1px 45px;
    color: white;
    border: 1px solid;
    outline: none;

}
/* /Nineth_Main */

/* Footer */
footer{
    background-color: #090909;
    padding: 29px 0 24px 55px;
    color: white;
}
footer h2{
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
footer .menu__list{
    display: flex; 
    padding-bottom: 31px;
    border-bottom: 1px solid grey;
}
footer .menu__list p{
    font-size: 15px;
    line-height: 16px;
}
footer .menu__list p:nth-child(2){
    margin-left: 30px;
}
footer .menu__list p:nth-child(3){
    margin-left: 30px;
}
footer h6{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 26px;
}
footer p{
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 22px;
    color: #8E9CA1;
}
footer p:nth-child(7){
    margin-bottom: 59px;
}
/* /Footer */



/*  Responsive  */

@media only screen and (max-width: 992px){

body{
    max-width: 992px;    
}  
    /* Header */

header article .article__text p{
    text-align: center;
}
header article .article__text h1{
    text-align: center;
}
header article .article__text h6{
    text-align: center;
}
.article__btn__group{
        margin-left: 120px;
}
.article__btn__group button{
  margin-left: 40px;
}
.article__btn__group button:hover{
    color: white;
    background: #8979E8;
    transition: 0.5s linear;
}
header article .card{
    display: none;
}
header article .img__1{
    display: none;
}
header article .img__2{
   display: none;
}
header article .img__3{
    display: none;
}
/* /Article */

/* .Brands */
header .brands{
    margin-left: 70px;
}

/* /.Brands*/
  /* /Header*/

  /* first_main */
.first_main img{
    width: 96%;
}
  /* /first_main */

  /* second_main */
.second_main i{
    margin-left: 400px;
}
.second_main p{
    margin-left: 350px;
}
  /* /second_main */

 /* third_main */
 .third_main h2{
    text-align: center;
 }
 .third_main h6{
    text-align: center;
 }
 .third_main button{
   margin-left: 300px;
 }
 /* /third_main */

/* fifth_main */
#carousel{
    position: relative;
}
.fifth_main article .carousel-control-prev{
    left: 25px;
}
.fifth_main article .carousel-control-next{
    right: 25px;
}
/* /fifth_main */

/* nineth_main */
.nineth_main button{
    margin: 0 360px;
}
/* /nineth_main */
}


/* max-width 991 */
@media only screen and (max-width: 767px){
/* header */
nav li{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.article__btn__group {
     margin-left: 0; 
}
/* /header */

/* first_main */
.first_main h1{
    font-size: 36px;
}
.first_main h3{
    font-size: 16px;
    line-height: 22px;
}
/* /first_main */

/* second_main */
.second_main .first__row h3{
    font-size: 38px;
    margin-bottom: 30px;
}
.second_main .first__row h6{
  margin-bottom: 30px;
}
.second_main i {
    margin-left: 270px;
}
.second_main p {
    margin-left: 226px;
}
/* /second_main */

/* third_main */
.third_main button {
    margin-left: 200px;
}
/* /third_main */

/* fourth_main */
.fourth_main .first__logo img{
    width: 90%;
}
/* /fourth_main */

/* fifth_main */
.fifth_main h1{
    font-size: 40px;
}
.fifth_main article .white {
    width: 500px;
    height: 400px;
}
.fifth_main article .white .img__white{
    position: absolute;
    top: 90%;
    left: 40%;
}
.fifth_main article h5{
    font-size: 15px;
}

.fifth_main article .carousel-control-prev{
    left: 90px;
}
.fifth_main article .carousel-control-next{
    right: 90px;
}

/* /fifth_main */

/* sixth_main */
.sixth_main h1{
    font-size: 35px;
}
.sixth_main .row button{
    padding: 1rem 3rem;
}
.sixth_main .row .center_item {
    border: none;
}
/* /sixth_main */

/* nineth_main */
.nineth_main h1 {
    font-size: 40px;
    line-height: 60px;
}
.nineth_main button {
    margin: 0 215px;
}
/* /nineth_main */

}

/* max-width 767 */
@media only screen and (max-width: 650px){
    .sixth_main {
        padding: 76px 59px 100px 59px;
    }
}

@media only screen and (max-width: 590px){
    header article .article__text h1 {
        font-size: 35px;
        line-height: 57px;
        margin-right: 55px;
    }
    header article .article__text h6 {
        text-align: center;
        font-size: 15px;
        margin-right: 55px;
    }
}

@media only screen and (max-width: 556px){
    .article__btn__group button {
        margin-left: 4px;
    }
    .fourth_main .first__logo img{
        width: 70%;
    }
    .fourth_main .third__logo img{
        width: 70%;
    }
    .fifth_main article .carousel-control-prev {
        left: 40px;
    }
    .fifth_main article .carousel-control-next {
        right: 40px;
    }
}

@media only screen and (max-width: 490px){
    .first_main h1 {
        font-size: 28px;
    }
    .first_main h3 {
        font-size: 13px;
        line-height: 22px;
    }
    .second_main i {
        margin-left: 190px;
    }
    .second_main p {
        margin-left: 145px;
    }
    .third_main .big__image img{
        width: 70%;
    }
    .article__btn__group {
        margin-left: -35px;
    }
    .article__btn__group button {
        padding: 1px 29px;
    }
    .fifth_main h1 {
        font-size: 30px;
    }
    .fifth_main h6{
        font-size: 14px;
    }
    .fifth_main article .carousel-control-prev {
        left: 10px;
    }
    .fifth_main article .carousel-control-next {
        right: 10px;
    }
    .seventh_main h1 {
        font-size: 38px;
    }
    .seventh_main > p {
        font-size: 14px;
    }
    .nineth_main button {
        margin: 0 170px;
    }
    .nineth_main button {
        padding: 1px 25px;
    }
}

@media only screen and (max-width: 440px){
    header article .article__text h1 {
        font-size: 25px;
    }
    header article .article__text h6 {
        font-size: 10px;
    }
    .article__btn__group button {
        padding: 1px 20px;
    }
    .third_main .row .first__half button {
    margin-top: 34px;
    background: #090909;
    border-radius: 300px;
    padding: 1px 35px;
    color: white;
}
    .third_main button {
    margin-left: 100px;
}

.nineth_main button {
    margin: 0 150px;
    padding: 1px 10px;
}
.nineth_main h1 {
    font-size: 30px;
    line-height: 60px;
}
.nineth_main p {
    font-size: 11px;
}
}


